body {
	margin: 0px;
	color: #5c5c5c;
	background: linear-gradient(to top right, #F35271, #FE824F);
   font-family: Arial;
	font-size: 16px;
}
img {
	display: block;
	margin: 40px auto;
}

/* Bloc du texte */
.Bloc {
   width: 80%;
	height: 830px;
   margin: 50px auto;
   padding: 10px;
	background-color: white;
	border-radius: 15px;
}
.Contenu {
	height: 780px;
	padding: 15px;
	overflow: auto;
}
h1, h2 {
	text-align: center;
}
h2, a {
	color: #505050;
}
h1 {
	color: #F35271;
	font-family: 'Reggae One', cursive;
	font-size: 45px;
	font-weight: bold;
}
h2 {
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}
a {
	text-decoration: none;
	font-weight: bold;
}
p {
	text-align: justify;
}